{# input is 

{'name': name, 
 'id': id,
 'size': size,
 'options': {
     'item1': {
         'id': id,
         'selected': True,
         'display_name': display_name},
     'item2': .... }} 
#}

<select class="w3-col m2" name={{data['name']}} id={{data['id']}} multiple size={{data['size']}}">
{% for item, values in data['options'].values %}
    <option value="{{ values['id'] }}" 
    {%- if values['selected'] -%} selected {% endif %} >
    {{ values['display_name'] }}
    </option>
{% endfor %}
</select>
