<label for="merit-badges">Merit Badge</label><br>
<select name="merit-badges" id="merit-badges" multiple size="10">
{% for merit_badge in options.badges %}
<option value="{{ merit_badge.name }}" 
    {% if merit_badge.name in selected.badges %}selected{% endif %}>
{{ merit_badge.name }}
</option>
{% endfor %}
</select>
