<label for="patrols">Patrols</label><br>
<select name="patrols" id="patrols" hx-get="{{url_for('scouts.scout_selector')}}" hx-target="#scouts" multiple size="10">
{% for patrol in options.patrols %}
<option value="{{ patrol.name }}"
    {%- if patrol.name in selected.patrols -%} selected {% endif %} >
    {{ patrol.name }}
</option>
{% endfor %}
</select>
