<label for="requirements">Requirement</label><br>
<select name="requirements" id="requirements" multiple size="10">
{% for requirement in options.requirements %}
<option value="{{requirement.code}}" 
    {% if requirement.code in selected.requirements %}
    selected
    {% endif %}>
{{ requirement.badge.name }}, {{ requirement.shortcode}}, {{ requirement.text }}
</option>
{% endfor %}
</select>
