{% if current_user.is_authenticated %}
<span class="just-checked box" hx-delete="{{url_for('signoffs.sign', scout_id=scout.id, code=requirement.code, signer_id=1, date='Today')}}" hx-swap="outerHTML">👍</span>
{% else %}
<span class="just-checked box">👍</span>
{% endif %}
