<form method="POST">
    <table>
    <tr>
        <td>Name</td>
	<td>{{ current_user.firstname }} {{current_user.lastname}}</td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input type="text" name="username" value="{{ current_user.username }}" autofocus=""></td>
    </tr>
    {% if current_user.patrol %}
    <tr>
        <td>Patrol</td>
        <td>{{ current_user.patrol }}</td>
    </tr>
    {% endif %}
    {% if current_user.current_rank_name %}
    <tr>
        <td>Current Rank</td>
        <td>{{ current_user.current_rank_name }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>email</td>
        <td><input type="text" name="email" value="{{ current_user.email }}" autofocus=""></td>
    </tr>
    {% for role in current_user.roles %}
    <tr>
        <td>role</td>
        <td>{{ role.name }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>type</td>
        <td>{{ user.type }}</td>
    </tr>
    {% for child in current_user.children %}
    <tr>
        <td>Child</td>
	<td>{{ child.firstname }} {{child.lastname}}</td>
    </tr>
    {% endfor %}
    {% for parent in current_user.parents %}
    <tr>
        <td>Parent</td>
	<td>{{ parent.firstname }} {{parent.lastname}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td><button method="POST" formtarget="_top" formaction="{{ url_for('users.edit_user', user_id=current_user.id) }}">Submit Data</td>
    </tr>

</table>
</form>
