{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h3>Login</h3>
    <br>
    <form action="{{ url_for('users.login') }}", method="post">
        <label for="email">email</label>
        <input type="text" name="email" id="email">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <input type="submit">
    </form>
    <a href="{{url_for('users.register') }}">Register</a>
{% endblock %}


