{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h3>Register</h3>
    <br>
    <form action="{{ url_for('users.register') }}", method="post">
        <input type="email" name="email" id="email" placeholder="Email" autofocus=""><br>
        <strong>OR</strong><br>
        <input type="text" name="username" id="username" placeholder="Username" autofocus=""><br>

        <input type="password" name="password" id="password" placeholder="Password"><br>
        <input type="submit">
    </form>
{% endblock %}


