.w3-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.w3-tooltip .w3-text {
  visibility: hidden;
  width: 200px;
  background-color: darkgreen;
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.w3-tooltip:hover .w3-text {
  visibility: visible;
}
