{% extends 'base.html' %}

{% block title %}Requirement Groups{% endblock %}

{% block content %}
    <p hx-put={{url_for("requirement_groups.add")}} hx-prompt="Enter new requirement group name: ">ADD GROUP</p>
    <table>
    {% for rgroup in rgroups %}
    <tr><td>{{ rgroup.name }}</td>
        <td hx-patch={{url_for("requirement_groups.edit", rgroup_name=rgroup.name)}} hx-target="closest body">EDIT</td>
        <td hx-post={{url_for("requirement_groups.clone", rgroup_name=rgroup.name)}} hx-target="closest body" hx-prompt="Enter new group name: ">CLONE</td>
        <td hx-delete={{url_for("requirement_groups.delete", rgroup_name=rgroup.name)}} hx-confirm="Are you sure you want to delete {{rgroup.name}}" hx-target="closest tr" hx-swap="innerHTML">DELETE</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}


