{% extends 'base.html' %}

{% block title %}Edit {{rgroup.name}}{% endblock %}

{% block content %}
    <table>
    {% for requirement in rgroup.requirements %}
    <tr>
        <td>{{ requirement.badge_name }}</td>
        <td>{{ requirement.shortcode }}</td>
        <td>{{ requirement.text }}</td>
        <td hx-delete={{url_for("requirement_groups.requirement_delete", rgroup_name=rgroup.name, code=requirement.code)}} hx-target="closest tr">REMOVE</td>
    </tr>
    {% endfor %}
    </table>
    <table>
    {% for requirement in requirements %}
    <tr>
        <td>{{ requirement.badge_name }}</td>
        <td>{{ requirement.shortcode }}</td>
        <td>{{ requirement.text }}</td>
        <td hx-put={{url_for("requirement_groups.requirement_add", rgroup_name=rgroup.name, code=requirement.code)}}>ADD</td>
    </tr>
    {% endfor %}
    </table>
    <p><a href={{url_for("requirement_groups.all")}}>Return to All Requirement Groups</a></p>

{% endblock %}
