<div class="search-bar" id="selectors">
    <form action="/merit_badges" method="post">
        {% include 'search_boxes/patrol.html' %}
        {% include 'search_boxes/scout.html' %}
        {% include 'search_boxes/preset.html' %}
        {% include 'search_boxes/merit_badge.html' %}
        {% include 'search_boxes/mb_requirement.html' %}
       <input type="submit" value="go">
    </form>
</div>
