{% extends 'base.html' %}

{% block title %}Patrols{% endblock %}

{% block content %}
    <table>
    {% for patrol in patrols %}
        <tr><th colspan=5><a href="{{url_for("patrols.by_name", name=patrol.name)}}">{{ patrol.name }}</a></th></tr>
        <tr>
            <th>Name</th>
            <th>Current Rank</th>
            <th>Rank Date</th>
            <th>Pct to next rank</th>
        </tr>
        {% for scout in patrol.members %}
        <tr>
            <td><a href="{{ url_for("scouts.by_id", id=scout.id)}}">{{scout.display_name}}</a></td>
            <td>{{scout.current_rank.name}}</td>
            <td>{{scout.current_rank_date}}</td>
            <td><div class="w3-light-grey">
                    <div class="w3-container w3-green w3-center" style="width:{{scout.pct_to_next_rank|round|int}}%">{{scout.pct_to_next_rank|round|int}}%</div>
                </div></td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>

{% endblock %}


