{% extends 'base.html' %}

{% block title %}{{ patrol.name }}{% endblock %}

{% block content %}
<table>
    <tr>
        <th><br></th>
        <th><br></th>
        <th colspan={{ patrol.members | count + 1}}>Scouts</th>
    </tr>
    <tr>
        <th>Rank</th>
        <th>Code</th>
        <th>Requirement</th>
        {% for scout in patrol.members %}
        <td><a href="{{ url_for("scouts.by_id", id=scout.id)}}">{{scout.display_name}}</a></td>
        {% endfor %}
    </tr>
    {% for requirement in requirements %}
    <tr>
        <td>{{ requirement.badge.name }}</td>
        <td>{{ requirement.shortcode }}</td>
        <td>{% include "advancement/requirement.html" %}</td>
        {% for scout in patrol.members %}
            <td>
            {% if scout.get_signoff(requirement.code).date %}
            {% include "check_boxes/checked.html" %}
            {% else %}
            {% include "check_boxes/unchecked.html" %}
            {% endif %}
            </td>
        {% endfor %}
    {% endfor %}
    </tr>
</table>
{% endblock %}

