<h3>
    Search Patrols
        
</h3>
<input class="group-search" type="search"
       name="group-search" placeholder="Search Groups . . . "
       hx-post="{{ url_for("groups.search") }}"
       hx-trigger="keyup changed delay:500ms, group-search"
       hx-target="#search-results"
       >

<select name="groups" id="groups" multiple size="10">
    <div id="search-results">
        {% for group in results.groups %}
