<form action="/advancement" method="post">
<div class="search-bar w3-row" id="selectors">
    <div class=w3-cell>{% include 'search_boxes/patrol.html' %}</div>
    <div class=w3-cell>{% include 'search_boxes/scout.html' %}</div>
    <div class=w3-cell>{% include 'search_boxes/preset.html' %}</div>
    <div class=w3-cell>{% include 'search_boxes/rank.html' %}</div>
    <div class=w3-cell> {% include 'search_boxes/requirement.html' %}</div>
</div>
<div class="search-bar w3-row" id="actions">
       <input type="checkbox" id="requirements_sorted" name="requirements_sorted" value="requirements_sorted" checked>
       <label for="requirements_sorted"> Sort Requirements by # needing</label>
       <input type="checkbox" id="by_patrol" name="by_patrol" value="by_patrol" checked>
       <label for="by_patrol"> Sort Requirements by Patrol</label>
       <input type="submit" value="go">
</div>
</form>
