{% extends 'base.html' %}

{% block title %}All Scouts{% endblock %}

{% block content %}
    
    <table id="requirements">
    <tr><th class="rank-header", colspan=3>Scout</th>
        <th class="rank-header", colspan=18>Scout</th>
        <th class="rank-header", colspan=26>Tenderfoot</th>
        <th class="rank-header", colspan=38>Second Class</th>
        <th class="rank-header", colspan=36>First Class</th>
        <th class="rank-header", colspan=8>Star</th>
        <th class="rank-header", colspan=8>Life</th>
        <th class="rank-header", colspan=17>Eagle</th>
    </tr>
        
    <tr height=200px><th class="rotate requirements-header">Name</th>
                     <th class="rotate requirements-header">Rank</th>
                     <th class="rotate requirements-header">Patrol</th>
        {% for signoff in scouts[0][1] %}
        <th class="rotate requirements-header">{{signoff.requirement.text}}</th>
        {% endfor %}
    </tr>
    {% for scout in scouts %}
    <tr><td textalign=center, vertical-align=center><a href="{{url_for(".by_id", id=scout[0].id)}}">{{scout[0].display_name}}</a></td>
        <td textalign=center, vertical-align=center>{{scout[0].current_rank.name}}</td>
        <td textalign=center, vertical-align=center><a href="{{ url_for("patrols.by_name", name = scout[0].patrol)}}">{{scout[0].patrol}}</a></td>
        {% for signoff in scout[1] %}
        <td textalign=center, vertical-align=center>{% if signoff.date %}☑
            {% else %}☐
            {% endif %}
        </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}


