{% extends 'base.html' %}

{% block title %}Edit {{group.name}}{% endblock %}

{% block content %}
    <p><a href={{url_for("groups.all")}}>Return to All Groups</a></p>
    <table>
    {% for member in group.members %}
    <tr><td>{{member.firstname }} {{ member.lastname }}</td>
        <td hx-delete={{url_for("groups.member_delete", group_name=group.name, member_id=member.id)}} hx-target="closest tr">REMOVE</td>
    </tr>
    {% endfor %}
    </table>
    <table>
    {% for user in users %}
    	{% if user in group.members %}
	{% else %}
    <tr><td>{{ user.firstname }} {{user.lastname}}</td>
        <td hx-put={{url_for("groups.member_add", group_name=group.name, user_id=user.id)}}>ADD</td>
    </tr>
    	{% endif %}
    {% endfor %}
    </table>

{% endblock %}
