<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow" />
    <title>{% block title %}{% endblock %}Troopmanager.org</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href={{ url_for("static", filename="layout.css")}}>
    <script src="{{url_for('static', filename="scripts/htmx.min.js")}}"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="w3-panel">{{ messages[0] }}
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">&times;</span>
        </div>
        {% endif %}
    {% endwith %}
    <nav>
        {% if current_user.is_authenticated %}
        <div class="w3-dropdown-hover">
            <button class="w3-button"><h1>Admin</h1></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a class="w3-bar-item w3-button" href="{{url_for('uploads.index') }}"><h2>Import</h2></a>
                <a class="w3-bar-item w3-button" href="{{url_for('groups.all') }}"><h2>Edit Groups</h2></a>
                <a class="w3-bar-item w3-button" href="{{url_for('requirement_groups.all') }}"><h2>Edit Requirement Groups</h2></a>
                <a class="w3-bar-item w3-button" href="{{url_for('announcements.add') }}"><h2>Add Announcement</h2></a>
                <a href="#" class="w3-bar-item w3-button"><h2>Admin Link 1</h2></a>
                <a href="#" class="w3-bar-item w3-button"><h2>Admin Link 2</h2></a>
                <a href="#" class="w3-bar-item w3-button"><h2>Admin Link 3</h2></a>
            </div>
        </div>
        {% endif %}
        <div class="w3-dropdown-hover">
            <button class="w3-button"><h1>Scouts</h1></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a class="w3-bar-item w3-button" href="{{url_for('advancement.index') }}"><h2>Advancement</h2></a>
                <a class="w3-bar-item w3-button" href="{{url_for('merit_badges.index') }}"><h2>Merit Badges</h2></a>

                <a class="w3-bar-item w3-button" href="{{ url_for('patrols.index') }}"><h2>Patrols</h2></a>
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <div class="w3-dropdown-hover">
            <button class="w3-button">{{current_user.email}}</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a class="w3-bar-item w3-button" href="{{url_for('users.profile') }}"><h2>Profile</h2></a>
                <a class="w3-bar-item w3-button" href="{{url_for('users.logout') }}"><h2>Logout</h2></a>
            </div>
        </div>
        {% else %}
        <div class="w3-dropdown-hover">
            <button class="w3-button">
            <a href="{{url_for('users.login') }}"><h1>Login</h1></a>
            </button>
        </div>
        {% endif %}
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>


