{% extends 'base.html' %}

{% block title %}Uploads{% endblock %}

{% block content %}

<form action="{{ url_for('uploads.tm_scout_history_upload')}}" method=post enctype=multipart/form-data>
    <label for=file>Troopmaster</label>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

    
{% endblock %}


